@media (min-width: 375px) {
  .aboutUsContent {
    max-width: 350px;

    margin: 30px auto 0 auto;

    height: 400px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;

    display: grid;
  }
  .aboutUsTextContainer {
    position: absolute;

    justify-self: center;

    bottom: 0;

    text-align: center;

    color: white;
  }

  .aboutUsTextContainer h2 {
    font-family: "Tinos", serif;
    font-weight: 200;

    text-transform: capitalize;
  }
  .aboutUsTextContainer p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;

    text-transform: uppercase;
  }
  .aboutUsTopContainerText {
    text-align: center;

    padding: 0 17px;
  }
  .aboutUsTopContainerText h1 {
    font-family: "Tinos", serif;

    text-transform: capitalize;
  }
  .aboutUsTopContainerText p {
    font-family: "Source Sans 3", sans-serif;

    line-height: 1.8;
  }
  .aboutUsTopContainerText::after {
    content: "";
    background-image: url(../../../images/incons/curlyLinesDivider.png);
    background-size: contain;
    background-repeat: no-repeat;

    justify-content: center;

    margin: 25px auto;

    height: 15px;
    width: 110px;

    display: block;
  }
  .aboutUsContainer {
    margin-top: 60px;

    background-image: url(../../../images/background-images/aboutUsBgImg.png);
    background-size: cover;
    background-position: center;

    padding-bottom: 70px;
  }
}
