@media (min-width: 375px) {
  .textContainer {
    text-align: center;

    margin-bottom: 50px;
  }
  .textContainer p {
    font-family: "Source Sans 3", sans-serif;
  }
  .textContainer h2 {
    font-family: "Tinos", serif;

    text-transform: capitalize;

    font-size: 30px;
    font-weight: lighter;
  }
  .communityInvolvementContainer {
    padding: 7px;
    color: white;
  }
  .communityInvolvementContent {
    display: grid;
    grid-template-columns: 1fr;

    margin: auto;
  }
  .communityInvolvementContent img {
    width: 70%;
    height: 80%;

    margin: auto;
  }

  .communityInvolvementContainer {
    background-image: url(../../../images/background-images/communityInvolvementBgImg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .textContainer p::after {
    content: "";
    background-image: url(../../../images/incons/curlyLinesDivider.png);
    background-size: contain;
    background-repeat: no-repeat;

    margin: auto;

    height: 10px;
    width: 70px;

    display: block;

    margin-top: 20px;
  }
  .textContainer button {
    padding: 15px;

    width: 70%;

    margin: auto;

    text-transform: uppercase;

    background-color: #cfb787;

    border: 0;

    color: white;

    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
}
