@media (min-width: 375px) {
  .faqsTextContainer {
    text-align: left;
  }
  .faqsTextContainer h2 {
    text-transform: capitalize;

    font-family: "Tinos", serif;

    text-transform: capitalize;

    font-size: 30px;
    font-weight: lighter;
  }
  .faqsTextContainer p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
  }
  .faqsContainer {
    padding: 15px;
  }
  .faqsTextContainer p::after {
    content: "";
    background-image: url(../../../images/incons/curlyLinesDivider.png);
    background-size: contain;
    background-repeat: no-repeat;

    height: 10px;
    width: 70px;

    display: block;

    margin-top: 20px;
  }
  .faqsContent p {
    display: none;
  }
  .faqQuestionContainer {
    position: relative;

    padding-right: 50px;
  }
  .faqQuestionContainer i {
    position: absolute;

    right: 10px;
    top: 0;
  }
  .faqsContent {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    padding: 5px;

    cursor: pointer;
  }
  .faqsPosition {
    display: grid;
    grid-template-columns: 1fr;

    gap: 15px;
  }

  .faqImg {
    background-image: url(../../../images/background-images/faqImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 350px;
    height: 350px;

    margin: 70px auto;
  }
  .faqBottomTextContainer h2::first-letter {
    text-transform: capitalize;
  }
  .faqBottomTextContainer button {
    padding: 15px;

    width: 70%;

    margin: auto;

    text-transform: uppercase;

    background-color: #cfb787;

    border: 0;

    color: white;

    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .faqBottomTextContainer {
    text-align: center;
  }
}
