@media (min-width: 375px) {
  .blogPostContainer {
    display: grid;
    grid-template-columns: 1fr;

    gap: 170px;
  }

  .blogPostContentContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 300px;

    position: relative;
  }
  .blogPostTextContent {
    background-color: white;
    position: absolute;

    max-width: 270px;

    padding-left: 20px;

    bottom: -140px;
    right: 0;
  }
  .blogPostTextContent p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 15px;

    line-height: 1.6;

    font-family: "Source Sans 3", sans-serif;
  }
  .blogPostTextContent h3 {
    font-family: "Tinos", serif;

    text-transform: capitalize;

    line-height: 1.6;
  }
  .blogPostDateContainer {
    position: absolute;

    text-align: left;

    bottom: -70px;
    left: 0;

    font-family: "Tinos", serif;

    color: #cccccc;
  }
  .blogPostDateContainer h1 {
    margin-bottom: 0;

    font-size: 45px;
  }
  .blogPostDateContainer span {
    text-transform: uppercase;

    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 13px;
  }
  .buttonContainer {
    margin: auto;
    margin-top: 50px;

    width: 70%;
  }
  .buttonContainer button {
    padding: 15px;

    width: 100%;

    margin: auto;

    text-transform: uppercase;

    background-color: #cfb787;

    border: 0;

    color: white;

    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
}
