.header {
  background-color: #073652;
}

.phoneLogo {
  width: 40px;
  height: 40px;
}

@media (min-width: 375px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 70px 40px;

    padding: 25px;
  }

  .logo {
    width: 150px;
    height: 40px;

    background-image: url("../../images//logos/mobileLogoNav.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .header {
    grid-template-columns: 0.5fr 1fr;
  }

  .logo {
    width: 150px;
    height: 50px;

    background-image: url("../../images//logos/KG\ Logo-01.png");
    background-size: cover;
    background-position: center;
  }
}
